day_2/infinite_loop
day_3/creat_file
day_3/fd_experiment
day_3/file1.txt
day_3/file2.txt
day_3/file3.txt
day_3/file4.txt
day_3/newfile.txt
day_4/open_file
day_4/excl_experiment
day_4/existing.txt
day_5/five_file
day_5/file1
day_5/file2
day_5/file3
day_5/file4
day_5/file5
day_6/read_write
day_7/copy_file
day_8/read_lines
day_9/file_info
day_10/lseek_write
day_11/dup_file
day_11/dup2_file
day_11/fcntl_file
day_11/tcntl_file
day_12/opening_mode
day_13/select_stdin
day_14/file_type
day_15/environment
day_16/read_lock
day_16/write_lock
day_17/ticket_init
day_17/ticket_reserve
day_18/record_init
day_18/record_lock
day_19/getpid_time
day_20/priority
day_16/lockfile
day_17/ticket.txt
day_18/record.txt
