day_2/infinite_loop
day_3/creat_file
day_3/fd_experiment
day_3/file1.txt
day_3/file2.txt
day_3/file3.txt
day_3/file4.txt
day_3/newfile.txt

day_4/open_file
day_4/excl_experiment
day_4/existing.txt
day_5/five_file
day_5/file1
day_5/file2
day_5/file3
day_5/file4
day_5/file5
day_6/read_write
